In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
tnp_data = pd.read_csv('SCET- Dept. of Training & Placement Cell - Campus Notice.xlsx - Year 2016-2020.csv')

In [3]:
tnp_data.head()

,Unnamed: 0,Notice Posted On,Company Name,Eligibility,Job Description & Application Link,Recruitment Type,Company Reqirements
0,1.0,NaN,Intellicon Pvt Ltd - Gandhinagar,EC,https://goo.gl/YNYZYw,On Campus\nThrough GTU ITAP Cell\n,Diploma/BE (EC) with good communication and co...
1,2.0,NaN,Just Green,CO\nIT\nMCA,https://goo.gl/1V8dbm,On Campus,"Web development,Mobile application development..."
2,3.0,NaN,WhiteLion,All,https://goo.gl/wEMsb9,On Campus,"Excellent knowledge of MS Office.,Highly motiv..."
3,4.0,NaN,D-mart,EL,https://goo.gl/Jl3SQQ,On Campus,BE Electrical with no active backlogs\r\n60% t...
4,9.0,6/30/2017,National Group,All,https://goo.gl/dxUE3R,On Campus,English must be good

In [5]:
tnp_data.drop(columns=['Unnamed: 0','Notice Posted On'],inplace=True)

In [12]:
tnp_data.shape

(787, 5)

In [13]:
tnp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 787 entries, 0 to 786
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Company Name                        787 non-null    object
 1   Eligibility                         786 non-null    object
 2   Job Description & Application Link  784 non-null    object
 3   Recruitment Type                    780 non-null    object
 4   Company  Reqirements                774 non-null    object
dtypes: object(5)
memory usage: 30.9+ KB

In [16]:
df = tnp_data.copy()

In [17]:
df.sample(5)

,Company Name,Eligibility,Job Description & Application Link,Recruitment Type,Company Reqirements
237,Byju's,ALL,https://goo.gl/LZ6oBk,"Pooled Campus\nSVNIT, Surat","Bussines development associate, sales,marketing"
201,MyAnatomy,ALL,https://goo.gl/mhyNMG,Student Data,-
340,"L & T Heavy Enginerring, Hazira",CO\nIT\nMCA\nM.E- CO,https://goo.gl/qFoUvH,On Campus,.Net (MVC) Preferable
196,SHRI WEB SOLUTION,CO\nIT\nMCA\nME-CO\nOther,https://goo.gl/PoVzMj,On Campus,".Net Developer Skill: ASP.Net (3.5, 4.0), C#.N..."
391,"Narola Infotech, Surat",MCA,https://goo.gl/cECUL6,On Campus,"PHP Trainees, Mobile Trainees - Android/iOS , ..."

In [18]:
# Removing the companies whose requirements is null

df['Company  Reqirements'].value_counts()

Company  Reqirements
-                                                                                                                                                                                                                                         256
Problem-Solving and Critical Thinking,JAVA,Python,C,C++,Javascript,Commuincation                                                                                                                                                           12
Management Trainee                                                                                                                                                                                                                          3
Electrical                                                                                                                                                                                                                                  2
MySQL, MongoDB, SQLite, UI,IOS developer,PHP developer                                                                                                                                                                                      2
                                                                                                                                                                                                                                         ...
2 or  more year experience                                                                                                                                                                                                                  1
AutoCad, Solid Edge, Solid Works ,Siemens, Schneider, AB,PLC and HMI programming                                                                                                                                                            1
Asp.Net MVC Developer - Urgent Requirement\r\nSenior Asp.Net MVC Developer\r\nSenior ASP.NET C# Developer\r\nJunior ASP.NET Developer\r\nBusiness Development Executive                                                                     1
Strong communication skill in English.\r\nGood knowledge of Computer or IT technology.\r\nInterest in Content writing, web content or blog.\r\nInterest in Business development, SDLC, presentation, requirement analysis.                  1
 Problem-Solving and Critical Thinking,JAVA,Python,C,C++,Javascript,Commuincation,C#, C++,Excellent communication skills,Knowledge of Design of Components of Residential or Commercial Structures ,Excellent communication skills\r\n      1
Name: count, Length: 500, dtype: int64

In [21]:
df = df[~(df['Company  Reqirements'] == '-')]

In [22]:
df.head()

,Company Name,Eligibility,Job Description & Application Link,Recruitment Type,Company Reqirements
0,Intellicon Pvt Ltd - Gandhinagar,EC,https://goo.gl/YNYZYw,On Campus\nThrough GTU ITAP Cell\n,Diploma/BE (EC) with good communication and co...
1,Just Green,CO\nIT\nMCA,https://goo.gl/1V8dbm,On Campus,"Web development,Mobile application development..."
2,WhiteLion,All,https://goo.gl/wEMsb9,On Campus,"Excellent knowledge of MS Office.,Highly motiv..."
3,D-mart,EL,https://goo.gl/Jl3SQQ,On Campus,BE Electrical with no active backlogs\r\n60% t...
4,National Group,All,https://goo.gl/dxUE3R,On Campus,English must be good

In [26]:
# Dropping the unnessary columns

df.drop(columns=['Eligibility','Job Description & Application Link'],inplace=True)

In [27]:
df.head()

,Company Name,Recruitment Type,Company Reqirements
0,Intellicon Pvt Ltd - Gandhinagar,On Campus\nThrough GTU ITAP Cell\n,Diploma/BE (EC) with good communication and co...
1,Just Green,On Campus,"Web development,Mobile application development..."
2,WhiteLion,On Campus,"Excellent knowledge of MS Office.,Highly motiv..."
3,D-mart,On Campus,BE Electrical with no active backlogs\r\n60% t...
4,National Group,On Campus,English must be good

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 531 entries, 0 to 786
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company Name          531 non-null    object
 1   Recruitment Type      530 non-null    object
 2   Company  Reqirements  518 non-null    object
dtypes: object(3)
memory usage: 16.6+ KB

In [30]:
# removing the null values form data

df.isna().sum()

Company Name             0
Recruitment Type         1
Company  Reqirements    13
dtype: int64

In [39]:
df.dropna(inplace=True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 517 entries, 0 to 786
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company Name          517 non-null    object
 1   Recruitment Type      517 non-null    object
 2   Company  Reqirements  517 non-null    object
dtypes: object(3)
memory usage: 16.2+ KB

In [43]:
df[df.duplicated()]

Empty DataFrame
Columns: [Company Name, Recruitment Type, Company  Reqirements]
Index: []

In [44]:
df['Company Name'].nunique()

517

In [45]:
df

,Company Name,Recruitment Type,Company Reqirements
0,Intellicon Pvt Ltd - Gandhinagar,On Campus\nThrough GTU ITAP Cell\n,Diploma/BE (EC) with good communication and co...
1,Just Green,On Campus,"Web development,Mobile application development..."
2,WhiteLion,On Campus,"Excellent knowledge of MS Office.,Highly motiv..."
3,D-mart,On Campus,BE Electrical with no active backlogs\r\n60% t...
4,National Group,On Campus,English must be good
...,...,...,...
780,ETP PLANT,On Campus,Be . chemical
781,HivePro,On Campus,"Problem-Solving and Critical Thinking,JAVA,Pyt..."
783,Xceed - A Unit of Safexpress Pvt Ltd,On Campus,"MySQL, MongoDB, SQLite, UI, Problem-Solving an..."
784,TCS - Cod vita,On Campus,"C, C++, C#, Java, Python, Pearl, Ruby, PHP"
786,IDES Global Pvt Ltd,Pooled Campus,"Problem-Solving and Critical Thinking,JAVA,Py..."

In [46]:
df.to_csv('Preprocessed_SCET_TnP_Data.csv')